<!DOCTYPE html>
<html>
<head>
    <title>Channel-Stats Report</title>
    <style>
        @font-face {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS1exCsfw&skey=4ad46dd97873f7d7&v=v9) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
            /* latin */
        @font-face {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 400;
            src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS7exA&skey=4ad46dd97873f7d7&v=v9) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        *, *:after, *:before {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
    </style>
</head>
<body style="padding: 0; margin: 0; background-color: #fff; font-family: 'Helvetica Neue'; font-size: 15px; font-weight: 400; color: #4a4a4a;">

    <div style="max-width: 375px; margin: 0 auto; background: #e6e6e6">

        <div style="text-align: center; line-height: 55px; background: #fff; font-size: 22px;">
            Channel Report
        </div>
        <div style="padding-bottom: 30px; padding-top: 30px; text-align: center;">
            Channel {{ .Name }}
        </div>

        <div style="text-align: center;  max-width: 324px; margin: 0 auto 15px auto; background: #fff; ">
            <div style="line-height: 45px; font-weight: bold;">Most Active</div>
            <img style="max-width: 100%" src="cid:most-active.png" alt="Image"/>
        </div>

        <div style="text-align: center;  max-width: 324px; margin: 0 auto 15px auto; background: #fff; ">
            <div style="line-height: 45px; font-weight: bold;">Most Positive</div>
            <img style="max-width: 100%" src="cid:most-positive.png" alt="Image"/>
        </div>

        <div style="text-align: center;  max-width: 324px; margin: 0 auto 15px auto; background: #fff; ">
            <div style="line-height: 45px; font-weight: bold;">Most Negative</div>
            <img style="max-width: 100%" src="cid:most-negative.png" alt="Image"/>
        </div>

        <p style="text-align: center; margin-top: 24px; padding-bottom: 30px; margin-bottom: 0; font-size: 13px;">
            Generated by channel-stats slack bot
        </p>

    </div>

</body>
</html>