<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.7.1, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.7.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Channel Stats</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
  <section class="mbr-section content4 cid-qP78HVUupZ" id="content4-h">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    {{ .PageTitle }}</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Channel Stats</h3>
            </div>
        </div>
    </div>
</section>

<section class="features6 cid-qP78WGr0Oy" id="features6-j">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img" style="padding-top: 0px">
                <h4 class="card-title py-3 mbr-fonts-style display-7" style="margin-bottom: 0px;">Most Active</h4>
                    <img src="/api/chart/sum?channel={{ .ChannelName }}&counter=messages">
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img" style="padding-top: 0px">
                <h4 class="card-title py-3 mbr-fonts-style display-7" style="margin-bottom: 0px;">% Most Negative</h4>
                    <img src="/api/chart/percentage?channel={{ .ChannelName }}&counter=negative">
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img" style="padding-top: 0px">
                <h4 class="card-title py-3 mbr-fonts-style display-7" style="margin-bottom: 0px;">% Most Positive</h4>
                    <img src="/api/chart/percentage?channel={{ .ChannelName }}&counter=positive">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img" style="padding-top: 0px">
                <h4 class="card-title py-3 mbr-fonts-style display-7" style="margin-bottom: 0px;">Top Links Posted</h4>
                    <img src="/api/chart/sum?channel={{ .ChannelName }}&counter=link">
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img" style="padding-top: 0px">
                <h4 class="card-title py-3 mbr-fonts-style display-7" style="margin-bottom: 0px;">Top Emoji Users</h4>
                    <img src="/api/chart/sum?channel={{ .ChannelName }}&counter=emoji">
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-qP79bJ797s" id="footer6-k">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                Generated by <a href="https://github.com/thrawn01/channel-stats">github.com/thrawn01/channel-stats</a>
                </p>
            </div>
        </div>
    </div>
</section>
</body>

</html>
